{% load static %}
{% load humanize %}
{% load cart_template_tag %}

<header class="header header-2 header-intro-clearance .bg-dark-subtle">
    <div class="header-middle">
        <div class="container ">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>              
                <a href="{% url 'store:index'%}" class="logo">
                    <img src="{% static 'atinuke/zokashlogo.jpg'%}" alt="Molla Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form  action="{% url 'store:search' %}" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="account">
                    <a href="{% url 'store:dash-board' %}" title="My account">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        
                        {% if user.is_authenticated %}
                        <p>hello! {{user}}</p>
                        {% else %}
                             <a href="{% url 'account_signup'%}" class="btn secondary">signup/login </a>
                            
                        {% endif %}
                            
                  
                        <!-- </a> -->
                    </a>
                </div><!-- End .compare-dropdown -->



                <div class="wishlist">
                    <a href="{% url 'store:wishlist' %}" title="Wishlist">              
                <a href="{%url 'store:wishlist'%}" title="Wishlist">
                    <div class="icon">
                        <i class="icon-heart-o" id="count"></i>
                        <p>Wishlist</p>
                        <!-- <span class="wishlist-count wishlistn" id="count">0</span> -->
                    </div>
                </a>
            </a>
                </div>
                <div class="dropdown cart-dropdown">
                    <a href="{% url 'store:cart' %}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-coun" id="cart-count">0</span>
                        </div>
                        <p>Cart</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">                            
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{{cart.product.get_absolute_url}}">{{cart.product.title}}</a>
                                    </h4>
                                    {% if cart.product.discount_price %}
                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">price: </span>
                                        &#8358;{{cart.product.discount_price|floatformat:2|intcomma}}
                                    </span>
                                    {% else%}
                                   <span>{{cart.product.price|floatformat:2|intcomma}}</span> 
                                    {% endif%}
                                   
                                </div><!-- End .product-cart-details -->
                                <figure class="product-image-container">
                                    <a href="{{cart.product.get_absolute_url}}" class="product-image">
                                        <img src="{{cart.product.img_1.url}}" alt="{{cart.product.title}}">
                                    </a>
                                </figure>
                                <a href="{{cart.product.delete_cart}}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                            <div class="dropdown-cart-tot??al"> 
                                <!-- <span>Total</span> -->
                                <!-- <span class="cart-total-price">$</span> -->
                            </div>
                            <div class="dropdown-cart-action">
                                <a href="{% url 'store:cart' %}" class="btn btn-primary">View Cart</a>
                                <a href="{% url 'store:check-out'%}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .dropdown-cart-total -->
                            <!-- <p>you have no items in cart <a href="{%url 'store:categories-list'%}">start Shopping</a></p> -->

                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->

            </div><!-- End .header-right -->
        </div><!-- End .container -->
        <!-- <a href="{% url 'store:signup'%}"> -->
          <div class="header-right">
            <!-- <a href="{% url 'account_login'%}" class="btn btn-secondaty">Login</a> -->
        </div>



    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                 <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                <li class="item-lead"><a href="#">Daily offers</a></li>
                                <li class="item-lead"><a href="#">Gift Ideas</a></li>
                                
                            </ul><!-- End .menu-vertical -->
                         </nav> 
                </div>
            </div>

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="{% url 'store:index'%}" class="sf-with-ul">Home</a>

                        </li>
                        <li>
                            <a href="{% url 'store:categories-list' %}" class="sf-with-ul">Shop</a>
                            
                        </li>
   
                        <li>
                            <a href="#" class="sf-with-ul">Pages</a>

                            <ul>
                                <li>
                                    <a href="{% url 'store:refund-request'%}">Refunds</a>

                                </li>
                                <li>
                                    <a href="{% url 'store:contact'%}" >Contact</a>

                                   <a href="{% url 'admin:index' %}">admin</a>
                                </li>
                                

                            </ul>
                        </li>
                        <!-- <li>
                            <a href="blog.html" class="sf-with-ul">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li>
                            <a href="elements-list.html" class="sf-with-ul">Elements</a>

                            <ul>
                                <li><a href="elements-products.html">Products</a></li>
                                <li><a href="elements-typography.html">Typography</a></li>
                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul>
                        </li> -->
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <!-- <div class="header-right">
                <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
            </div> -->
        </div><!-- End .container -->
    
        <script>
            // Function to update wishlist count
            function updateWishlistCount() {
                $.ajax({
                    url: "{% url 'store:wishlist-count' %}",
                    method: 'GET',
                    success: function(response) {
                        $('#count').text(response.count);
                        console.log(response.count);
                    }
                });
            }
            
            // Update count on page load and every 5 seconds
            $(document).ready(function() {
                updateWishlistCount(); // Update once on page load
                setInterval(updateWishlistCount, 5000); // Then update every 5 seconds
            });
            
            function updateCartCount() {
                $.ajax({
                    url: "{% url 'store:cart-count' %}",
                    method: 'GET',
                    success: function(response) {
                        $('#cart-count').text(response.cart_count);
                    }
                });
            }
        
           // Update count on page load and every 5 seconds
           $(document).ready(function() {
            updateCartCount(); // Update once on page load
            setInterval(updateCartCount, 5000); // Then update every 5 seconds
        });
        
        </script>
        
    </div><!-- End .header-bottom -->


   
</header><!-- End .header -->