{%load static %}
<!DOCTYPE html>
<html lang="en">
<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Atinuke Couture{%block title %}{%endblock%}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="your latest fashion trends on the pick">
    <meta name="author" content="p-themes">
    <link rel="stylesheet" href="{% static 'homepage/css/mdb.min.css' %}" />
    <!-- Favicon -->
    <link rel='script' href="{% static 'js/bootstrap.min.js'%}"></link>
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'category/assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/jpg" sizes="32x32" href="{% static 'atinuke/logo.jpg' %}">
    <link rel="manifest" href="{% static 'category/assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'category/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="{% static 'category/assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Atinuke coutrure">
    <meta name="application-name" content="Atinuke couture">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'category/assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'category/assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'category/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'category/assets/css/plugins/owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'category/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'category/assets/css/plugins/nouislider/nouislider.css' %}">
</head>
<body>
    {%include 'initials/_header.html'%}
    <div class="page-wrapper">
        <main class="main">
            {%block content %}{%endblock%}
        </main>
        {%include 'initials/footer.html'%}
    </div>
    <!-- Plugins JS File -->
    <script src="{% static 'category/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'category/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'category/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'category/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'category/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'category/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'category/assets/js/wNumb.js' %}"></script>
    <script src="{% static 'category/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'category/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'category/assets/js/nouislider.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'category/assets/js/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'homepage/js/mdb.umd.min.js'%}"></script>
    <!-- Custom scripts -->
    <script type="{% static 'homepage/text/javascript' %}"></script>
</body>

<!-- molla/category.html  22 Nov 2019 10:02:52 GMT -->
</html>