{% extends "base.html" %}
{%load static %}
{%block content %}
{{block.super}}
<div class="page-wrapper">
        
        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(static/assets/images/demos/demo-16/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle">Elevate your Wardrobe</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Unvailing the essence of fashion</h1><!-- End .intro-title -->

                            <a href="#scroll-to-content" class="btn btn-outline-white scroll-to">
                                <span>explore our fashion catalogue</span>
                                <i class="icon-long-arrow-down"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="container" id="scroll-to-content">
                <hr class="mt-2 mb-6">

                <div class="products-display">
                    <div class="heading text-center">
                        <h4 class="subtitle text-primary">Womens Clothing</h4><!-- End .subtitle -->
                        <h2 class="title">Refresh Your Wardrobe</h2><!-- End .title -->
                        <p class="title-desc">Discover this season’s latest trends with the newest additions to <br>our women’s clothing collection.</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    {%for items in object_list %} 
                    {%if items.is_banner%}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner banner-main banner-overlay">
                                <a href="category.html">

                                    <!-- large image on the homepage-->
                                    <img src="{{items.main_img.url}}" alt="Banner">
                                </a>

                                <div class="banner-content left">
                                    <div class="banner-title"><a href="#">Dresses for all occasions.</a></div><!-- End .banner-title -->

                                    <p>Nail your on and off duty style with our new season collection of women’s dresses.</p>
                                    <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-main -->
                            </div><!-- End .banner banner-overlay -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                        {%endif%}
                        {%endfor%}
                        
                        
                </div><!-- End .products-display -->
            </div><!-- End .container -->

{%for items in object_list%}
<img src="{{items.main_img.url}}"/>
<p>{{items.title}}</p>
{%endfor%}



            
            <div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(static/assets/images/demos/demo-16/bg-1.jpg)">
                <div class="container">
                    <h3 class="video-banner-title h1 text-white"><span>watch</span><strong>customer's</strong> best style for the week<br></h3><!-- End .video-banner-title -->
                    <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
                </div><!-- End .container -->
            </div><!-- End .video-banner bg-image -->


            <div class="cta-newsletter text-center pt-4 pb-7">
                <div class="container">
                    <span class="cta-icon"><i class="icon-envelope"></i></span>
                    <h3 class="title">Subscribe for Our Newsletter</h3><!-- End .title -->
                    <p class="title-desc">and receive <span class="text-primary">$20 coupon</span> for first shopping</p><!-- End .title-desc -->
                    
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit" id="newsletter-btn"><span>SUBSCRIBE</span><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>

                    <p class="newsletter-desc">Your personal details are safe with us.</p><!-- End .newsletter-desc -->
                </div><!-- End .container -->
            </div><!-- End .cta-newsletter -->


            <div class="pt-7"></div><!-- End .pt-6 -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-truck"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                            <p>Free shipping for orders over $50</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                            <p>Free 100% money back guarantee</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="la la-unlock"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                            <p>100% secure payment</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-headphones"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                            <p>Alway online feedback 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
            </div><!-- End .row -->

        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    
    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div><!-- End .custom-checkbox -->
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}