<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>

	$(document).ready(
		function(){
			console.log('loaded')
		$.ajax({
			url: "{% url 'api:product_view'%}",
			success: function(data){
				console.log(data)
			}
		})
		}
	)
</script>


<div class="ratingss">
	{% ratings object %}
	{% if rating.rating == 5 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}
	

	{% if rating.rating == 4 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}

	{% if rating.rating == 3 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}

	{% if rating.rating == 2 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}

	{% if rating.rating == 1 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}

	{% if rating.rating == 4 %}                                          
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	<span class="fa fa-star checked" style="color: orange;"></span>
	{% endif %}
	<!-- <div class="ratings-val" style="width: 80%;"></div> -->
</div>
   
{% for product in products %}
<li>
	<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
	<p></p>
	<p>Price: {{ product.price }}</p>
	{% if product.discount_price %}
		<p>Discount Price: {{ product.discount_price }}</p>
	{% endif %}
</li>
{% endfor %}

