{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}    
    <div class="page-wrapper">

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'store:index'">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:categories-list'%}">Shop</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:cart'%}">cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form method="post" action="{% url 'store:apply-coupon' %}">
								{% csrf_token %}
								{{order.coupon.code}}
            		
								<button class="btn btn-primary" type="submit">apply</button>
            				</form>
            			</div><!-- End .checkout-discount -->
						
            			<form action="{% url 'store:check-out'%}" method="post">
                            {% csrf_token %}
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
	            						<label>Street address *</label>
										{{order.form|crispy}}
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
                                                
                                                {% for items in order.cart %}
                                                    
		                						<tr>
		                							<td><a href="#">{{items.product.title}} * {{items.quantity}}</a></td>
		                							<td>${{items.get_price_tag}}</td>
		                						</tr>
                                                {% endfor %}
                                                    
												<div class="checkout-discount">
													<form method="post" action="{% url 'store:apply-coupon' %}">
														{% csrf_token %}
														<div>
															<label>have a coupon?</label>
															<input class="form-control" placeholder="apply coupon here" name="code">
															<button type="submit" class="btn btn-secondary">apply</button>
														</div>
													</form>
												</div><!-- End .checkout-discount -->
												
                                                
                                                {% for items in order.order %}
                                                    
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>N {{items.get_total}}</td>
		                						</tr><!-- End .summary-subtotal -->
                                                {% endfor %}
                                                    
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>

                                                
                                                {% for items in order.order %}
                                                    
                                                
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>N {{items.get_total}}</td>
                                            </tr><!-- End .summary-total -->
                                                {% endfor %}
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    payments options										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
                                                        {{order.form.payment_option}}
										             
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										 
										    </div><!-- End .card -->

	
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order">
		                					<span class="btn">Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    {% endblock content %}
