{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}    

<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url 'store:categories-list' %}">Shop</a></li>
				<li class="breadcrumb-item"><a href="{% url 'store:cart' %}">Cart</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->
	
	<div class="page-content">
		<div class="checkout">
			<div class="container">
				<div class="checkout-discount">
					{% if coupon %}
					{% for code in coupon %}
					<p style="color: rgb(110, 194, 2);">Use {{ code.code }}</p>
					{% endfor %}
					{% endif %}
					<form method="post" action="{% url 'store:apply-coupon' %}?next={{ request.path }}">
						{% csrf_token %}
						{{ order.coupon_form.code }}
						<button class="btn btn-primary" type="submit">Apply</button>
					</form>
				</div><!-- End .checkout-discount -->
				
				<form action="{% url 'store:check-out' %}" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-9">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
							
							<label>Country *</label>
							{{ order.form.country }}

							<label>Street address *</label>
							{{ order.form.street_address }}
							{{ order.form.apartment }}

							<div class="row">
								<div class="col-sm-6">
									<label>Town / City *</label>
									{{ order.form.town }}
								</div><!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label>State / County *</label>
									{{ order.form.state }}
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->

							<div class="row">
								<div class="col-sm-6">
									<label>Postcode / ZIP *</label>
									{{ order.form.zip_code }}
								</div><!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label>Phone *</label>
									{{ order.form.telephone }}
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->

							<label>Order notes (optional)</label>
							{{ order.form.message }}
						</div><!-- End .col-lg-9 -->

						<aside class="col-lg-3">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
										{% for item in order.cart %}
										<tr>
											<td><a href="#">{{ item.product.title }} * {{ item.quantity }}</a></td>
											<td>&#8358;{{ item.get_price_tag|floatformat:2|intcomma }}</td>
										</tr>
										{% endfor %}
										
										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td>{{ order.order.get_total|floatformat:2|intcomma }}</td>
										</tr><!-- End .summary-subtotal -->
										
										<tr>
											<td>delivery:</td>
											<td>&#8358;{{ order.order.get_delivery_cost|floatformat:2|intcomma }}</td>
										</tr>
										
										<tr class="summary-total">
											<td>Total:</td>
											<td>&#8358;{{ order.order.get_total_with_delivery|floatformat:2|intcomma }}</td>
											
										</tr><!-- End .summary-total -->
									</tbody>
								
								</table><!-- End .table table-summary -->
<!-- 
								<div class="accordion-summary" id="accordion-payment">
									<div class="card">
										<div class="card-header" id="heading-1">
											<h2 class="card-title">
												<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
													Direct bank transfer
												</a>
											</h2>
										</div><!-- End .card-header -->
									</div>
										<!-- <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
											<div class="card-body">
												Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
											</div>
										</div> -->

										<button type="submit" class="btn btn-primary">
											<span class="btn-text">Place Order</span>
											<span class="btn-hover-text">Proceed to Checkout</span>
										</button>
								
							
								</div><!-- End .accordion -->
								
							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
{% endblock content %}
