{% extends "store/base.html" %}
{%load static %}
{% block content %}
{%include 'store/partials/_header.html'%}
   
    <div class="page-wrapper">

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:categories-list'%}">catalogue</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:categories-list'%}">category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<!-- <div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span>9 of 56</span> Products
                					</div><!-- End .toolbox-info -->
                				<!-- </div>End .toolbox-left -->
                			<!-- </div>End .toolbox --> 

                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    {%for items in product %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-new">{{items.label}}</span>
                                                <a href="{{items.get_absolute_url}}">
                                                    <img src="{{items.img_1.url}}" alt="Product image" class="product-image" style=" float: left;
                                                    height: 350px;
                                                    object-fit: cover;;">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="{{items.get_add_to_cart_url}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">{{items.category.title}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">{{items.title}}</a></h3><!-- End .product-title -->
												{% if items.discount_price%}
												<div class="product-price">
                                                    N {{items.discount_price}}
                                                </div>
												{% else%}
                                                <div class="product-price">
                                                   <p style="font-size: 20px;"> N {{items.price}}</p> 
                                                </div><!-- End .product-price -->
												{% endif%}
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img src="{{items.img_2.url}}" alt="product desc">
                                                    </a>
                                                    <a href="#">
                                                        <img src="{{items.img_3.url}}" alt="product desc">
                                                    </a>

                                                    <a href="#">
                                                        <img src="{{items.img_4.url}}" alt="product desc">
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                    {%endfor%}
                                  </div><!-- End .row -->
                            </div><!-- End .products -->
{% include "store/paginator.html" %}
                		</div><!-- End .col-lg-9 -->
                        


                        


                        
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
{% endblock content %}
 