{% extends "store/base.html" %}
{%load static %}
{%block content %}
{{block.super}}
{%include 'store/partials/_header.html'%}

<div class="page-wrapper">       
        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" id="bg-img" style="background-image: url(static/atinuke/homepage.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle"  id="bg">cleanest</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title "  id="bg"></h1><!-- End .intro-title -->

                            <a href="{% url 'store:categories-list' %}" class="btn btn-outline-white scroll-to">
                                <span style="background-color: blue; color:rgb(245, 243, 243); border-color: #8400ff;
                                ">explore</span>
                                <i class="icon-long-arrow-down"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
            <div class="products-display">
                <div class="heading text-center">
                    <h4 class="subtitle text-primary">Shop the</h4><!-- End .subtitle -->
                    <h2 class="title">Eco-friendly</h2><!-- End .title -->
                    <p class="title-desc">and natural  <br>Liquid Soap</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    {% for items in object_list %}
                    {%if items.is_banner%}
                    <div class="col-lg-6">
                        <div class="banner banner-main banner-overlay">
                            <a href="{{items.get_absolute_url}}">
                                <img src="{{items.img_1.url}}" alt="Banner">
                            </a>

                            <div class="banner-content left">
                                <div class="banner-title"><a href="{{items.get_absolute_url}}">{{items.title}}</a></div><!-- End .banner-title -->

                                <p>{{items.description}}</p>
                                <a href="{{items.get_absolute_url}}" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-main -->
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-lg-6 -->
                    {%endif%}

                    {%if items.is_banner %}
                    <div class="col-sm-4 col-lg-3 order-lg-first">
                        <div class="display-products-col">
                            <div class="product product-4 mb-7">
                                <figure class="product-media">
                                    <a href="{{items.get_absolute_url}}">
                                        <img src="{{items.img_1.url}}" alt="Product image" class="product-image">
                                        <img src="{{items.img_2.url}}" alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="{{items.get_add_to_cart_url}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">{{items.title}}</a></h3><!-- End .product-title -->
                                    <div class="product-price ml-2">
                                        {{items.price}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .display-products-col -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    {% endif %}
                    {%endfor%}
                </div><!-- End .row -->
            </div><!-- End .products-display -->                       
                        <div class="container">
                            <div class="heading heading-flex mb-2">
                                <div class="heading-left">
                                    <h2 class="title mb-5">Best selling</h2><!-- End .title -->
                                </div><!-- End .heading-left -->
        
                                <div class="heading-right">
                                    <a href="{% url 'store:categories-list' %}" class="title-link">View more products <i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .heading-right -->
                            </div><!-- End .heading -->
        
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>

                                
                                {%for items in product_list %}
                                {% if items.is_best_selling %}
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new">{{items.label}}</span>
                                        <a href="{{items.get_absolute_url}}">
                                            <img src="{{items.img_1.url}}" alt="Product image" class="product-image" style="
                                            float: left;
                                            height: 300px;
                                            object-fit: cover;
                                            ">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
        
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
        
                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">{{items.title}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                          N  {{items.price}}
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                                {%endif%}
                                {%endfor%}
                                
                            </div><!-- End .owl-carousel -->
                            
                            <div class="mb-5"></div><!-- End .mb-4 -->
                        </div><!-- End .container -->
                        
                        
                    </div><!-- End .products-display -->
                </div><!-- End .container -->
            
            <div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(static/atinuke/fourliter.jpg);">
                
                    <h3 class="video-banner-title h1 text-white"><span>watch our</span><strong>differrent pakages</strong><br></h3><!-- End .video-banner-title -->
                    <a href="{% static 'atinuke/video1.mp4'%}" class="btn-video btn-iframe"><i class="icon-play"></i></a>
                    
                    
                       
                
                </div><!-- End .container -->
            </div><!-- End .video-banner bg-image -->
            
          
         
        </main><!-- End .main -->
        

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

{%endblock%}