{% extends 'store/base.html' %}
<!-- CSS only -->
{% load crispy_forms_tags %}


{% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url  'store:categories' %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
            <!-- <div class="container"> -->
                <div class="row d-flex justify-content-center m-3">
                                <form id="paymentForm"  method="POST" action="{% url 'initiate_payment' %}">

                                    
                                            <div class="summary">
                                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
        
                                                <table class="table table-summary">
                                                    <thead>
                                                        <tr>
                                                            <th>S/No.</th>
                                                            <th>Item(s)</th>
                                                            <th>Total</th>
                                                    
                                                        </tr>
                                                    </thead>
        
                                                    <tbody>
                                                        
                                                        {% for items  in cart %}							
                                                        <tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td><a href="{{items.product.get_absolute_url}}">{{items.product.title}} {{items.get_price_tag}} * {{items.quantity}}</a></td>
                                                            <td>N {{items.get_total_price}}</td>
                                                        </tr>
                                                        {% endfor %}    
                                                            <td>Shipping:</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr class="summary-total">
                                                            <td>Grand Total:</td>
                                                            
                                                        {% for items  in order %}							
        
                                                            <td>N{{items.get_total}}</td>
                                                            {%endfor%}
                                                        </tr><!-- End .summary-total -->
                                                    </tbody>
                                                </table><!-- End .table table-summary -->
        
                                            </div><!-- End .summary -->
                                    {% csrf_token %}
                                            
                                    <input type="hidden" name="amount"/>
                                    <input type="hidden" value="{{user.email}}" name="email" />
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <span>pay</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div><!-- End .form-footer -->
                                </form>
                           
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
        </div><!-- End .login-page section-bg -->
{% endblock content %}
